<!DOCTYPE HTML>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
<body>
<header><%- partial('_partial/navbar') %></header>
<main>
    <article><%- body %></article>
</main>
<footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
</body>
</html>
